<li style="list-style-type:none;">
  <%# <div class="row"> %>
    <div class="<%= user.id == message.user_id ? 'card bg-primary' : 'card bg-light' %> <%  message.body.length >= 75 ?  'w-75':  'w-50'  %>">
      <div class="card-body p-2">
        <p class="card-text <%= user.id == message.user_id ? 'text-white' : 'black-text' %>">
          <%= message.body %>
        </p>
      </div>
    </div>
  <%# </div> %>
</li>