/* line 1, /Users/Andy/Desktop/djc_courier_service_fleet_manager/app/assets/stylesheets/application.scss */
ul {
  padding-left: 0px;
  list-style: none;
}

/* line 6, /Users/Andy/Desktop/djc_courier_service_fleet_manager/app/assets/stylesheets/application.scss */
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 12, /Users/Andy/Desktop/djc_courier_service_fleet_manager/app/assets/stylesheets/application.scss */
.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

/* line 22, /Users/Andy/Desktop/djc_courier_service_fleet_manager/app/assets/stylesheets/application.scss */
.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
/*


 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
