<div id="map" style="width: 100%; height: 640px;position:absolute;top:65px;"></div>
<%= javascript_include_tag "map.js" %>
<script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyvCbJhmXauM0yrRrpJPX3T1He9AVhedc&callback=initMap"></script>