<div id="map" style="width: 100%; height: 600px;"></div>
<script type="text/javascript">
  function initMap(){
      var loc = {lat: 14.5503, lng: 121.0327};
      var locations = [];
      $.ajax({
        url: "/map_coordinates",
        type: "GET",
        dataType:"JSON",
        success:function(data){
          $.each(data, function(k,v){
            locations.push([ v["email"]]);
          });
        },
        error:function(err){
          console.log(err)
        }
      });
      var mapOptions = {
          zoom: 13,
          center: loc,
          scrollwheel: false,
          styles: [{
              "featureType": "water",
              "stylers": [{
                  "saturation": 43
              }, {
                  "lightness": -11
              }, {
                  "hue": "#0088ff"
              }]
          }, {
              "featureType": "road",
              "elementType": "geometry.fill",
              "stylers": [{
                  "hue": "#ff0000"
              }, {
                  "saturation": -100
              }, {
                  "lightness": 99
              }]
          }, {
              "featureType": "road",
              "elementType": "geometry.stroke",
              "stylers": [{
                  "color": "#808080"
              }, {
                  "lightness": 54
              }]
          }, {
              "featureType": "landscape.man_made",
              "elementType": "geometry.fill",
              "stylers": [{
                  "color": "#ece2d9"
              }]
          }, {
              "featureType": "poi.park",
              "elementType": "geometry.fill",
              "stylers": [{
                  "color": "#ccdca1"
              }]
          }, {
              "featureType": "road",
              "elementType": "labels.text.fill",
              "stylers": [{
                  "color": "#767676"
              }]
          }, {
              "featureType": "road",
              "elementType": "labels.text.stroke",
              "stylers": [{
                  "color": "#ffffff"
              }]
          }, {
              "featureType": "poi",
              "stylers": [{
                  "visibility": "off"
              }]
          }, {
              "featureType": "landscape.natural",
              "elementType": "geometry.fill",
              "stylers": [{
                  "visibility": "on"
              }, {
                  "color": "#b8cb93"
              }]
          }, {
              "featureType": "poi.park",
              "stylers": [{
                  "visibility": "on"
              }]
          }, {
              "featureType": "poi.sports_complex",
              "stylers": [{
                  "visibility": "on"
              }]
          }, {
              "featureType": "poi.medical",
              "stylers": [{
                  "visibility": "on"
              }]
          }, {
              "featureType": "poi.business",
              "stylers": [{
                  "visibility": "simplified"
              }]
          }]
      }
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }
</script>
<script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACdLUl5JQ5ygw5muZA__mgYIFc2ar5TWw&callback=initMap"></script>